/* Styling for StatusColumn component */

/* Style for the container of StatusColumn */
.status-column-container {
    flex: 1;
    min-width: 300px;
  }
  
  /* Style for the title of StatusColumn */
  .status-column-title {
    color: #472F5B;
    background-color: #C6D8D9;
    border-radius: 10px;
    padding: 5px;
    margin: 5%;
  }
  
  /* Style for the droppable area */
  .droppable-area {
    display: flex;
    flex-direction: column;
    background-color: #526863;
    border-radius: 10px;
    min-height: 500px;
    flex-grow: 1;
    align-items: center;
    margin: 5%;
  }
  
  /* Responsive UI for smaller screen or mobile */
  @media (max-width: 850px) {
    .status-column-container {
      min-width: auto;
      margin-bottom: 2%;
    }
  
    .droppable-area {
      /* Change flex direction to rows for smaller screens */
      flex-direction: row; 
      /* Allow items to wrap into multiple rows */
      flex-wrap: wrap;
      justify-content: space-around;
      min-height: auto;
    }
  }
  