/* Styling for KanbanBoard component */

.kanban-board-container {
    width: 100%;
    padding: 20px;
  }

  .kanban-board {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive UI for smaller screen or mobile */
  @media (max-width: 850px) {
    .kanban-board {
      display: flex;
      flex-direction: column;
    }
  }
  