.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
    background-color: #203732;
    color: #8F79A1;
    height: auto; 
}

.header__left {
    display: flex;
    align-items: center;
}

.company-logo {
    width: 50px; 
    margin-right: 10px;
}

.header__left h1 {
    margin: 0;
    font-size: 3rem; 
    line-height: 1.5;
}

.header__right {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.header__right h4 {
    margin: 1rem; 
    font-size: 1.5rem;
}

.header__right button {
    background-color: #8F79A1;
    color: #203732;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem; 
    cursor: pointer;
    border-radius: 25px;
}