/* Styling for PaintCard component */

.paint-card {
    padding: 8px;
    color: black;
    width: 80%;
    height: 100%;
    background: #C6D8D9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5%;
  }
  
  .paint-card-color {
    font-weight: bold;
  }
  
  .paint-card-inventory {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paint-card-inventory input[type="number"] {
    margin-left: 5px;
    width: 60px;
    height: 30px;
    text-align: center;
    padding: 2px;
    background: none;
    border: none;
    font-size: inherit;
    flex-direction: column;
  }